.form__list {
  width: 387px;
  margin-top: 5px;
  list-style: none;
  width: 387px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
 
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: 20px;
}

.form__list_button {
  margin-top: 0;
    display: inline-block;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    background: #ff0081;
    padding: 7px;
    border: none;
    color: #fff;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    
} 